## Prep for raking on the UAS data

In [1]:
import numpy as np
import pandas as pd

In [2]:
uas = pd.read_stata("../input/uas244.dta")

In [15]:
# recode "age" into age_cat based on fb age groups (consistent with FB levels)
uas['age_group'] = pd.cut(uas['age'], bins=[18, 25, 35, 45, 55, 65, float('Inf')], labels=['2', '3', '4', '5', '6', '7'])

In [16]:
uas['age_group'].value_counts(dropna=False).sort_index()

2       329
3       970
4      1258
5      1187
6      1331
7      1307
NaN      25
Name: age_group, dtype: int64

In [13]:
uas['gender'].value_counts(dropna=False).sort_index()

0 Female    3731
1 Male      2676
Name: gender, dtype: int64

In [14]:
uas['maritalstatus'].value_counts(dropna=False).sort_index()

1 Married (spouse lives with me)      3503
2 Married (spouse lives elsewhere)      81
3 Separated                            112
4 Divorced                             924
5 Widowed                              304
6 Never married                       1478
NaN                                      5
Name: maritalstatus, dtype: int64