## Social desirability experiment: replicating Daoust findings - data analysis

Experiment specifications: <br>
* Daoust experiment (variables: visit, over, outdoors):
  + Condition A: Have you done? Yes/No/Unsure <br>
  + Condition B: Some people XX have you done? Yes/Only when neccessary/No/Unsure <br><br>
  
* SD benchmark (variables: blame):
  + Condition A: Individuals are more to blame? Agree/disagree <br>
  + Condition B: Social conditions are more to blame? Agree/disagree <br>

In [15]:
import numpy as np
import pandas as pd

import utility as util

#### 1) Daoust experiment

In [16]:
df_dst = pd.read_csv('../output/df_dst.csv')

In [17]:
df_dst.shape

(4628, 9)

In [18]:
df_dst.head()

   id condition  visit  over  outdoors  sex  marital  age_group  education
0   1         B      9     9         1  1.0      3.0        7.0        5.0
1   2         A      9     1         9  1.0      1.0        7.0        5.0
2   3         A      9     9         9  1.0      1.0        7.0        3.0
3   4         A      9     9         1  1.0      3.0        7.0        3.0
4   5         B      9     9         9  1.0      1.0        7.0        5.0

In [19]:
# numeric -> character display
SD_cols = ['visit', 'over', 'outdoors']

for col in SD_cols:
    df_dst[col] = df_dst[[col]].replace([1, 2, 9], ["1. Yes", "2. Only when necessary/occasionally", "9. No"])

In [20]:
for col in SD_cols:
    util.crosstab_chisq(col, 'condition', df_dst, chisqtest=False)

condition                                A      B
visit
1. Yes                                61.6   62.5
2. Only when necessary/occasionally    0.0    9.3
9. No                                 38.4   28.2
Total n                              2,309  2,319

-----

condition                                A      B
over
1. Yes                                64.4   67.7
2. Only when necessary/occasionally    0.0   10.5
9. No                                 35.6   21.8
Total n                              2,309  2,319

-----

condition                                A      B
outdoors
1. Yes                                68.2   68.7
2. Only when necessary/occasionally    0.0    9.2
9. No                                 31.8   22.1
Total n                              2,309  2,319

-----

In [21]:
# combine top two response options into "yes"
combine_top_two = {"1. Yes": "1. Yes", 
                   "2. Only when necessary/occasionally": "1. Yes", 
                   "9. No": "9. No"}

In [22]:
for col in SD_cols:
    df_dst[f'{col}_r'] = df_dst[col].map(combine_top_two)

In [23]:
recoded_cols = ['visit_r', 'over_r', 'outdoors_r']

In [24]:
for col in recoded_cols:
    print('A: Have you done? Yes/No')
    print('B: Some people XX have you done? Yes/Only when neccessary/No')
    util.crosstab_chisq(col, 'condition', df_dst)

A: Have you done? Yes/No
B: Some people XX have you done? Yes/Only when neccessary/No

condition      A      B
visit_r
1. Yes      61.6   71.8
9. No       38.4   28.2
Total n    2,309  2,319

*Chi-squared statistic = 54.4, degree of freedom = 1, p = 0.0*

-----

A: Have you done? Yes/No
B: Some people XX have you done? Yes/Only when neccessary/No

condition      A      B
over_r
1. Yes      64.4   78.2
9. No       35.6   21.8
Total n    2,309  2,319

*Chi-squared statistic = 108.1, degree of freedom = 1, p = 0.0*

-----

A: Have you done? Yes/No
B: Some people XX have you done? Yes/Only when neccessary/No

condition       A      B
outdoors_r
1. Yes       68.2   77.9
9. No        31.8   22.1
Total n     2,309  2,319

*Chi-squared statistic = 55.0, degree of freedom = 1, p = 0.0*

-----

#### 2) Benchmark experiment

In [25]:
df_benchmark = pd.read_csv('../output/df_benchmark.csv')

In [26]:
df_benchmark.shape

(4628, 7)

In [27]:
df_benchmark.head()

   id condition  blame  sex  marital  age_group  education
0   1         B      2  1.0      3.0        7.0        5.0
1   2         A      2  1.0      1.0        7.0        5.0
2   3         B      2  1.0      1.0        7.0        3.0
3   4         A      1  1.0      3.0        7.0        3.0
4   5         B      2  1.0      1.0        7.0        5.0

In [28]:
df_benchmark['blame'] = df_benchmark['blame'].replace([1, 2], ["1. Agree", "2. Disagree"])

In [29]:
print('A: Individuals are more to blame? Agree/disagree')
print('B: Social conditions are more to blame? Agree/disagree')

util.crosstab_chisq('blame', 'condition', df_benchmark)

A: Individuals are more to blame? Agree/disagree
B: Social conditions are more to blame? Agree/disagree

condition        A      B
blame
1. Agree      79.9   22.1
2. Disagree   20.1   77.9
Total n      2,336  2,292

*Chi-squared statistic = 1544.8, degree of freedom = 1, p = 0.0*

-----